:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

.navbar{
    display: flex;
    align-items: center;
    background-color: #383838;
    border-radius: 0 0 50px 50px;
}

#logo_mario{
    width: 100px;
    top: 20;
    position: relative;
}

.botones button{
    font-size: 20px;
    color: #fff;
}

.botones button:hover{
    color: #f04040;
    text-decoration: none;
}

.imagen_consola{
    width: 30px;
    margin-right: 20px;
}
